POSTGRES_DB=mavazihub
POSTGRES_HOST=localhost
POSTGRES_USER=mavazihub_user
POSTGRES_PASSWORD=mavazihub_password
POSTGRES_PORT=5433

BACKEND_PORT=8080
FRONTEND_PORT=5173

JWT_SECRET_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY
